<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/styles/style.css' />
  </head>
  <body>
    <nav>
      {{!-- not linking to the right page yet: --}}
      <a href="/">Index</a>
      <a href="/main">Main</a>
      <a href="/private">Private</a>
      <a href="/profile">Profile</a>
      <a href="./profile/edit">Edit Profile</a>
      <a href="/sign-up">Sign-up</a>
      <a href="/sign-in">Sign-in</a>
    </nav>
    {{{body}}}
  </body>
</html>
